@model ComsatsUni.Models.Enrollment_Staff

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Enrollment_Staff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instructor.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructor.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff_Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Enrollment_StaffID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
